  <!DOCTYPE html>
  <html lang="en">
  <!-- head.ejs partial -->
  <%- include("./partials/head.ejs") %>
  
      <body>
          <!-- header.ejs partial -->
          <%- include("./partials/header.ejs") %>
          <a href="user/logout"><button>Logout</button></a>
              <main>
                  <div>
                    <a href="/newloss/new"><button>Create New Loss</button></a>
    
                    <ul>
                        <% for(los of Loss) {%>
                            <a href="/newloss/<%=l._id%>">
                                <li><%=los.name %></li>
                            </a>
                        <%} %>
                    </ul>
                  </div>
              </main>
      </body>
  
  </html>
