<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/movies/new"><button>Create new movie</button></a>
    
    <ul>
        <% for(m of movies) {%>
            <a href="/movies/<%=m._id%>">
                <li><%=m.name %></li>
            </a>
        <%} %>
    </ul>
</body>
</html>