<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('./partials/back') %>

    <form action="/movies" method="POST">
      <fieldset>
        <legend> Movie Information</legend>
        
        
        <label>
           Image Url: <input type="text" name="imageUrl" /> 
            
        </label>
        <br>
        <label>
            Name: <input type="text" name="name" placeholder="enter movies name" />
            
        </label>
        <br>
        <label>
            Runtime: <input type="text" name="title"   />
            
        </label>
        <label>
            Released: <input type="text" name="title"   />
            
        </label>
    </fieldset>
    <input type="submit" value="create new movie"/>
</form>

    
</body>
</html>