<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Loss</title>
  <%- include("./partials/head.ejs") %>
  <link rel="stylesheet" href="/styles/formstyle.css">

</head>

<body>
  <%- include("./partials/header.ejs") %>
  <%- include('./partials/back') %>

  <form action="/newloss/new" method="POST">
    <fieldset>
      <legend>
        <h1>New Loss:</h1>
      </legend>

      <label>Insured Name: <input type="text" name="insuredName" placeholder="Enter Insured's Name" required /></label><br>

      <label>Insured Address: <input type="text" name="insuredAddress" placeholder="Enter Insured's Address" required /></label><br>

      <label>Insured Phone Number: <input type="tel" name="insuredPhoneNumber" placeholder="Enter Phone Number (***-***-****)" required /></label><br>

      <label>Date Of Loss: <input type="date" name="dateOfLoss" required /></label><br>

      <label>Type Of Loss:
        <select name="typeOfLoss" required>
          <option value="">Select Type Of Loss</option>
          <option value="Motor Truck Cargo">Motor Truck Cargo</option>
          <option value="Auto Physical Damage">Auto Physical Damage</option>
        </select>
      </label><br>

      <label>Date Reported: <input type="date" name="dateReported" required /></label><br>

      <label>Loss Location: <input type="text" name="lossLocation" placeholder="Enter Loss Location" required /></label><br>

      <label>Truck VIN: <input type="text" name="truckVin" placeholder="Enter Truck VIN" required /></label><br>

      <label>Truck Make: <input type="text" name="truckMake" placeholder="Enter Make of Truck" /></label><br>

      <label>Truck Model: <input type="text" name="truckModel" placeholder="Enter Truck Model" /></label><br>

      <label>Truck Year: <input type="text" name="truckYear" placeholder="Enter Truck Year" /></label><br>

      <label>Trailer VIN: <input type="text" name="trailerVin" placeholder="Enter Trailer VIN" /></label><br>

      <label>Trailer Make: <input type="text" name="trailerMake" placeholder="Enter Trailer Make" /></label><br>

      <label>Trailer Model: <input type="text" name="trailerModel" placeholder="Enter Trailer Model" /></label><br>

      <label>Trailer Year: <input type="text" name="trailerYear" placeholder="Enter Trailer Year" /></label><br>

      <label>Agent's Name: <input type="text" name="agentsName" placeholder="Enter Agent's Name" /></label><br>

      <label>Agent's Email: <input type="email" name="agentsEmail" placeholder="Enter Agent's Email" /></label><br>

      <label>Agent's Phone: <input type="tel" name="agentsPhone" placeholder="Enter Agent's Phone" /></label><br>

      <label>Policy Number: <input type="text" name="policyNumber" placeholder="Enter Policy Number" required /></label><br>

      <label>Policy Start Date: <input type="date" name="policyStart"  /></label><br>

      <label>Policy End Date: <input type="date" name="policyEnd"  /></label><br>

      <label>Full Policy Link: <input type="url" name="policyLink" placeholder="Enter Link to Full Policy" /></label><br>

      <label>Photos Link: <input type="url" name="photoLink" placeholder="Enter Link to Photos" /></label><br>

    </fieldset>
    <input type="submit" value="Submit New Loss" />
  </form>

</body>

</html>
