<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>
      <%- include('./partials/back') %>

        <form action="/newloss" method="POST">
          <fieldset>
            <legend>
              <h1>New Loss:</h1>
            </legend>
            <!-- insuredName: String,
            insuredAddress: String,
            insuredPhoneNumber: String,
            dateOfLoss: String,
            typeOfLoss: String,
            dateReported: String,
            lossLocation: String,
            lossDescription: String,
            truckVin: String,
            truckMake: String,
            truckModel: String,
            truckYear: String,
            trailerVin: String,
            trailerMake: String,
            trailerModel: String,
            trailerYear: String,
            agentsName: String,
            agentsEmail: String,
            agentsPhone: String,
            policyNumber: String,
            policyStart: String,
            policyEnd: String,
            policyLink: String,
            photoLink: String, -->

            <label>
              Insureds Name: <input type="text" name="insuredName" placeholder="Enter Insureds Name" />

            </label>
            <br>
            <label>
              Insureds Address: <input type="text" name="insuredAddress" placeholder="Enter Insureds Address" />

            </label>
            <br>
            <label>
              Insureds Phone Number: <input type="text" name="insuredPhoneNumber" placeholder="Enter Phone Number (***-***-****)" />

            </label>
            <label>
              Date Of Loss: <input type="text" name="dateOfLoss" placeholder="Enter Date Of Loss (**/**/****)" />

            </label>

            <label>
              Type Of Loss: <select type="text" name="typeOfLoss" id="lossType"><option value="">Select Type Of Loss</option><option value="Motor Truck Cargo">Motor Truck Cargo</option>
                <option value="Auto Physical Damage">Auto Physical Damage</option> </select>

            </label>
            <br>
            <label>
              Date Reported: <input type="text" name=" dateReported" placeholder="Enter Date Reported (**/**/****)" />

            </label>
            <br>
            <label>
              Loss Location: <input type="text" name="lossLocation" placeholder="Enter Loss Location" />

            </label>
            <label>
              Truck VIN: <input type="text" name="truckVin" placeholder="Enter Truck VIN" />

            </label>
            <br>
            <label>
              Truck Make: <input type="text" name=" truckMake" placeholder="Enter Make Of Truck" />

            </label>
            <label>
              Truck Model: <input type="text" name="truckModel" placeholder="Enter Truck Model" />

            </label>
            <br>
            <label>
              Truck Year: <input type="text" name="truckYear" placeholder="Enter Year Truck Was Made" />

            </label>

            <label>
              Trailer VIN: <input type="text" name="trailerVin" placeholder="Enter Trailer VIN" />

            </label>
            <br>
            <label>
              Trailer Make: <input type="text" name=" trailerMake" placeholder="Enter Make Of Trailer" />

            </label>
            <label>
              Trailer Model: <input type="text" name="trailerModel" placeholder="Enter Trailer Model" />

            </label>
            <br>
            <label>
              Trailer Year: <input type="text" name="trailerYear" placeholder="Enter Year Trailer Was Made" />

            </label>
            <label>
              Insurance Agents Name: <input type="text" name="agentsName" placeholder="Enter Agents Name" />

            </label>
            <br>
            <label>
              Insurance Agents Email: <input type="text" name=" agentsEmail" placeholder="Enter Agents Email" />

            </label>
            <label>
              Insurance Agents Phone: <input type="text" name="agentsPhone" placeholder="Enter Agents Phone" />

            </label>
            <br>
            <label>
              Policy Number: <input type="text" name="policyNumber" placeholder="Enter Policy Number" />

            </label>
          </label>
          <label>
            Insurance Agents Phone: <input type="text" name="agentsPhone" placeholder="Enter Agents Phone" />

          </label>
          <br>
          <label>
            Policy Number: <input type="text" name="policyNumber" placeholder="Enter Policy Number" />

          </label>
        </label>
        <label>
          Policy Start: <input type="text" name=" policyStart" placeholder="Enter Policy Start Date" />

        </label>
        <br>
        <label>
          Policy End: <input type="text" name="policyEnd" placeholder="Enter Policy End Date" />

        </label>
        <label>
          Full Policy: <input type="text" name=" policyLink" placeholder="Enter Link To Full Policy" />

        </label>
        <br>
        <label>
          Photos: <input type="text" name="photoLink" placeholder="Enter Link To Photos" />

        </label>

          </fieldset>
          <input type="submit" value="Submit New Loss" />
        </form>


  </body>

</html>